.button {
   
    background-color: white;
    padding: 8px 15px 8px 15px;
    border: 2px solid #4B99AD;
    color: rgb(44, 44, 44);
  
    margin: 50px 60px;
    position:absolute; 
    top:0; 
    right:0;
    }
  .button:hover {
      background-color: #4B99AD;
      color: white;
      
    }