html {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 14px;
    
    margin: 0;
    background-color: #FFFFFF;
    text-align: left;
    padding-bottom:60px;
}
.column-left {
    width: 75%;
  }
  .column-right {
    width: 25%;
  }
